<footer class='page-footer'>
    <link rel='stylesheet' type='text/css' href='/partials/footer/index.css'>
    <div class='footer-div'>
        <p class='footer-text'>Template made by <a rel="external" target='_blank' href='https://kewynv-website.herokuapp.com'>Kewyn Vieira</a></p>
    </div>
</footer>