/* SCSS */

/* Stylesheet Imports */
@import url('/partials/header/index.css');
@import url('/partials/footer/index.css');

/* Styles */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body
{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    color: var(--color-tertiary);
    font-family: fantasy;
    font-display: swap;
    background-color: var(--color-primary);
}

.main-div
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.website-logo
{
    max-height: calc(100vh - 256px);
    width: auto;
    margin-bottom: 16px;
}