@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

body
{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    color: var(--color-tertiary);
    font-family: 'Quicksand';
    font-display: swap;
    background-color: var(--color-primary);
}

.main-div
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hbs-logo
{
    max-height: calc(100vh - 128px);
    width: auto;
}