body
{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    color: var(--color-tertiary);
    font-family: monospace;
    font-display: swap;
    background-color: var(--color-primary);
}

.main-div
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-logo
{
    max-height: calc(100vh - 256px);
    width: auto;
}