{{> header/index}}
<main>
    <link rel='stylesheet' type='text/css' href='/home/index.css'>
    <div class='main-div'>
        <a rel="external" target='_blank' href='https://handlebarsjs.com/'>
            <img class='hbs-logo' src="/home/res/logo.png">
        </a>
    </div>
</main>
{{> footer/index}}