/* SCSS */
// Bootstrap
    // Import everything from bootstrap with @import '../scss/bootstrap/index';
    @import '../scss/bootstrap/index';

/* Styles */

body
{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    font-display: swap;
    background-color: var(--color-secondary);
}

h3{font-size:20px}

.widget-card
{
    width: calc(314px - 32px);
    background-color: change-color($color: $primary, $red: 1%, $alpha: 0.4);
    overflow: hidden;

    border-radius: 16px;
}

.widget-card#_0
{
    height: calc(332px - 32px);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff4f2;

    .img-div
    {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: #7CDDD9;
        border-radius: 16px;

        img
        {
            width: auto;
            height: 90%;
        }
    }

    .widget-footer
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        h3{font-weight: bold;}
    
        span
        {
            font-size: 12px;
        }
    }
}

.widget-card#_1
{
    height: calc(332px - 32px);

    background-color: transparent;
    border-radius: 0;
    $border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .widget-card-section#_0
    {
        padding: 8px;
        background-color: #F6F8FF;
        border-radius: $border-radius;

        .img-div
        {
            display: flex;
            justify-content: center;
            .card-img{width: 90%}
        }
        span{white-space: nowrap;}

        span#_0, span#_2 {font-weight: bold}
        span#_1, span#_3
        {
            display: block;
            font-size: 10px
        }

        .col#_1
        {
            text-align: right;
        }
    }

    .widget-card-section#_1
    {
        display: flex;
        justify-content: space-between;

        .section-block
        {
            width: 134px;
            height: 134px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: $border-radius;

            span#_0{font-weight: 500}
            span#_1{font-size: 10px}
            .col-icon
            {
                padding: 8px;
                margin-bottom: 8px;
            }
        }

        .section-block#_0
        {
            border-radius: $border-radius;
            background-color: #F6F8FF;

            .col-icon
            {
                border-radius: 100%;
                background-color: white;
                color: $primary;
                box-shadow: 0 8px 16px rgb(61 65 215 / 35%);
            }
        }
        
        .section-block#_1
        {
            background-color: $primary;
            color: white;
        }
    }
}

.widget-card#_2
{
    height: calc(332px - 32px);
    padding: 24px;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('/home/res/climate.png');
    background-position: bottom;

    .weather-text
    {
        width: 66%;
        display: flex;
        flex-direction: column;

        .weather-status{font-size: 14px;}
        .weather-temperature{font-size: 48px;}
    }

    .btn-strip
    {
        width: 100%;

        .btn-wrapper
        {
            position: relative;
            float: right;

            padding: 20px;
            border-radius: 20px;
            border-top-right-radius: 0;
            background-color: #fff;
        }
        
    }
}

.widget-card#_3
{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 0;

    h3{margin: 0}

    .social-media-btn-section
    {
        span
        {
            display: block;
            font-size: 10px;
            white-space: nowrap;
        }
        
        button
        {
            font-size: 10px;
            background-color: #F6FAFF;
            border: 1px solid #B3B6DA;
            border-radius: 32px;
        }
    }

    .social-media
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(3 * 48px + 32px);

        .social-media-icon
        {
            width: 48px;
            height: 48px;
            color: white;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            border-radius: 8px;
        }
        
        .social-media-title
        {
            h4
            {
                font-size: 20px;
                margin: 0;
            }
            span
            {
                display: block;
                font-size: 10px;
                font-weight: 700;
            }
            margin-left: 16px;
        }
    
        .social-media-notifications
        {
            font-weight: 500;
            margin-top: 8px;
        }
    
        .social-media-icon#_0 {background-color: #299EE8;}
        .social-media-icon#_1 {background-color: #D32F2F;}
        .social-media-icon#_2 {background-color: #1976D2;}
    
        .social-media-notifications#_0 {color: #016F42;}
        .social-media-notifications#_1 {color: #f00;}
        .social-media-notifications#_2 {color: #6B46FF;}
    }
}

.widget-card#_4
{
    height: 248px;
}

.widget-card#_5
{
    height: 248px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    background: url('/home/res/bkgnd-card.png'), linear-gradient(135deg, #FA93D2, #895FE0);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;

    color: white;

    span
    {
        width: min-content;
        white-space: nowrap;
    }

    span#_0
    {
        font-size: 14px;
    }

    span#_1
    {
        font-size: 48px;
        font-weight: 500;
    }

    span#_2
    {
        font-size: 14px;
    }

    span#_3
    {
        font-size: 10px;
    }

    .widget-card-column
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .widget-card-footer
    {
        display: block;
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
}

.add-btn
{
    background-color: $primary;
    color: white;
}