/* SCSS */
// Bootstrap
    // Import everything from bootstrap with @import '../scss/bootstrap/index';

    // Or import only what you will need

    // You will always need this import when using bootstrap
    @import '../scss/bootstrap/configuration/index';

    // Import what you will need here
    @import '../scss/bootstrap/components/buttons';

/* Stylesheet Imports */
@import '../partials/header/index';
@import '../partials/footer/index';

/* Styles */
body
{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    color: var(--color-tertiary);
    font-family: monospace;
    font-display: swap;
    background-color: var(--color-primary);
}

.main-div
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-logo
{
    max-height: calc(100vh - 256px);
    width: auto;
}